.Footer{ 
    display: flex;
     justify-content: center;
     flex-direction: column;
     background: rgb(14, 143, 18);
     height: 150px;
     align-items: center;
     text-align: center;

}
.textFooter{
    color: white;
    font-size: 20px;
}
