  $color1:Black;
  $color2:rgb(6, 94, 9);
  $color3:pink;
  $color4:salmon;

  .containerHeder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-inline: auto;
    width: 100%;
  } 
  .containerLink{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-right: 20px;
  }
  
.link{
   color:$color2;
   text-decoration: none;
   font-size: 25px;
   font-weight: 500;
  }
  .link:hover,
  .link-actif
{
    text-decoration: underline;
}
  .logo{
    width: 200px;
    height: 180px; 
  }
  @media screen and (max-width:910px){
    .logo{
      width: 150px;
      height: 130px;
    }
    .link{
      font-size: 22px;
    }
  }

  @media screen and (max-width:768px)
  {
    .navigation{
      margin-bottom: 20px;
    
    }
    .logo{
      width: 120px;
      height: 100px;
    }
    .link{
      font-size: 20px;
    }
    .containerLink{
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .containerHeder{
      display: flex;
      flex-direction: column;
    }
  }